# PARTIEL COURS MSPTMDA: 

## Introduction √† Python pour l'analyse de donn√©es marketing.

<u> Consignes </u>:  

Tout d'abord, renommez ce notebook avec **groupe X - nom1 / nom2** avec X le num√©ro de votre bin√¥me dans le fichier. Ensuite compl√©tez le notebook pour r√©pondre aux questions.

1 point bonus sera d√©di√© √† la clart√© du code et de vos commentaires. 
N'h√©sitez pas √† cr√©er des cellules de type "Markdown" suppl√©mentaires ou des commentaires pour expliquer votre raisonnement.
Merci d'indiquer au mieux la ou les questions que chaque cellule traite. 

Des graphiques peu lisibles ou sans l√©gendes n'auront pas tous les points.

Ce partiel est un travail de groupe √† r√©aliser √† 2. Il est attendu que **les travaux de deux groupes distincts soient clairement diff√©rents**. 

Toutes les questions peuvent √™tre r√©solues avec les fonctions et m√©thodes vues en cours. N√©anmoins, vous pouvez vous aider des documentations des librairies vues en cours ainsi que des sites classiques de questions/r√©ponses de programmation (eg: Quora, Stackoverflow) pour vous d√©bloquer sur un point particulier.


#### MERCI DE VERIFIER QUE VOTRE CODE FONCTIONNE EN EXECUTANT LES CELLULES DE MANIERE SEQUENTIELLE (DE LA PREMIERE A LA DERNIERE).

### EXERCICE 1: Marketing d'une plateforme d'e-commerce - 8 pts


Vous √™tes en charge de la croissance d'une plateforme de e-commerce op√©rant en France. 
Les utilisateurs inscrits √† votre site sont dans le fichier Excel <i> data_users.xlsx </i>. Les informations sont les suivantes:

- 'account_id': L'id du compte client
- 'account_country': Le pays du compte
- 'account_latitude': La latitude (format degr√©s d√©cimaux) de la position du compte  
- 'account_longitude': La longitude (format degr√©s d√©cimaux) de la position du compte  
- 'gender': Le sexe du client
- 'money_spent': La somme des montants command√©s par chaque client depuis son inscription
- 'account_created_since': Le nombre de jours √©coul√©s depuis l'inscription du compte
- 'last_connection_since': Le nombre de jours √©coul√©s depuis la derni√®re connection √† votre site


#### QUESTIONS

1) Chargez ce fichier et visualisez un example des premi√®res lignes dans un dataframe appel√© data_users. (1pt)

2) Cr√©ez une colonne appel√©e "has_ordered" valant 1 si le compte a d√©j√† r√©alis√© une commande et z√©ro sinon. (1pt)

3) Affichez les graphes suivants en utilisant les m√©thodes vues en cours en y int√©grant tous les √©l√©ments graphiques qui vous semblent n√©cessaires ou int√©ressants: 

    a) Un pie chart des genres des accounts.(1pt)
    b) L'histogramme du total d'argent d√©pens√© pour TOUS les comptes.(1pt)
    c) L'histogramme du total d'argent d√©pens√© UNIQUEMENT pour les comptes ayant d√©pens√© de l'argent. (1pt)

4) Vous souhaitez am√©liorer la retention de vos clients: Pour cela vous voulez leur envoyer un mail comprenant un code promotionnel. Cette offre ne doit concerner que les comptes ayant d√©j√† command√© chez vous et donne: 

    - 10‚Ç¨ de r√©duction sur la prochaine commande si le compte a command√© entre 0‚Ç¨ (exclu) et 50‚Ç¨ (inclu)
    - 20‚Ç¨ de r√©duction sur la prochaine commande si le compte a command√© plus de 50‚Ç¨ (exclu)
   
    a) Cr√©ez un nouveau dataframe appel√© 'data_clients' conservant les lignes de data_users ayant d√©ja command√© et ne s'√©tant pas connect√©s dans les 30 derniers jours. (1pt)
    
    b) Ecrivez une fonction appel√©e "texte_mail()" prenant en entr√©e un account_id et renvoyant un exemple de texte de mail √† envoyer avec la bonne offre promotionnelle. Par exemple: 
    
    "Bonjour utilisateur XXXX ! Pour r√©compenser votre fid√©lit√©, nous vous offrons YY euros de r√©duction sur votre prochaine commande"  (1pt)
    
    c) Visualisez le mail √©crit pour les utilisateurs d'account_id : 30052, 92449 et 70231 (1pt)
    
5) Question Bonus: Utilisez les coordonn√©es fournies des comptes pour d√©terminer le nombre d'utilisateurs √† Lyon (Disons dans un rayon de 10km de la position GPS (45.767512, 4.834889) ).

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_users = pd.read_excel('data_users.xlsx')

In [55]:
data_users.head()

,account_id,account_country,account_latitude,account_longitude,gender,money_spent,account_created_since,last_connection_since
0,67556,FR,46.90,6.35,M,0.0,274,16
1,29905,FR,48.53,2.68,F,0.0,560,351
2,51783,FR,46.20,-1.05,M,14.1,414,0
3,103504,FR,46.13,-1.09,F,0.0,303,207
4,49387,FR,48.96,2.54,F,0.0,383,383

In [56]:
data_users = data_users.assign(has_ordered=lambda x: (x.money_spent > 0).replace([True, False],[1, 0]))
data_users.head()

,account_id,account_country,account_latitude,account_longitude,gender,money_spent,account_created_since,last_connection_since,has_ordered
0,67556,FR,46.90,6.35,M,0.0,274,16,0
1,29905,FR,48.53,2.68,F,0.0,560,351,0
2,51783,FR,46.20,-1.05,M,14.1,414,0,1
3,103504,FR,46.13,-1.09,F,0.0,303,207,0
4,49387,FR,48.96,2.54,F,0.0,383,383,0

In [75]:
# Import plotly pour les graphiques ATTENTION on a pas vu plotly 
#en cours donc je serais chaud √† refaire les graphiques pour 
#distinguer un petit peu quand m√™me
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [58]:
fig = px.pie(data_users, names='gender', title='Repartition des genres')
fig.show()

NameError: name 'px' is not defined

In [59]:
# M√©thode appliqu√©e non-vue en cours √©galement l'√©kip
data_users_viz = data_users.copy()
data_users_viz = data_users_viz.astype({"account_id": "str"})
fig = px.histogram(data_users_viz, x="account_id", y="money_spent", title="Histogramme du total d'argent d√©pens√© pour TOUS les comptes")
fig.show()

NameError: name 'px' is not defined

In [60]:
# 3) c) L'histogramme du total d'argent d√©pens√© UNIQUEMENT pour les comptes ayant d√©pens√© de l'argent.
data_users_has_spent = data_users_viz[data_users_viz.has_ordered == int(True)].copy()
fig = px.histogram(data_users_has_spent, x="account_id", y="money_spent", title="L'histogramme du total d'argent d√©pens√© UNIQUEMENT pour les comptes ayant d√©pens√© de l'argent.")
fig.show()

NameError: name 'px' is not defined

In [61]:
# 4) a) Pareil pas le souvenir d'avoir vu √ßa en cours mdrrr
data_clients = data_users[data_users.has_ordered == int(True)].copy()
data_clients = data_clients[data_clients.last_connection_since >= 30].reset_index(drop=True)
data_clients.head()

,account_id,account_country,account_latitude,account_longitude,gender,money_spent,account_created_since,last_connection_since,has_ordered
0,30415,FR,43.31,-0.37,M,13.4,433,111,1
1,37117,FR,43.44,5.25,F,4.1,469,468,1
2,108836,FR,47.87,-1.80,M,9.3,1242,40,1
3,79404,FR,50.14,3.27,F,3.1,2444,103,1
4,84657,FR,48.64,2.23,M,1.8,296,276,1

In [62]:
# 4) b) Changer la phrase (le texte en rouge entre les guillemets)
def texte_mail(account_id):
    client = data_clients.loc[data_clients['account_id'] == account_id]
    discount = '10' if client['money_spent'].values <= 50 else '20'
    return "Bonjour utilisateur " + str(account_id) + " ! Pour r√©compenser votre fid√©lit√©, nous vous offrons " + discount + " euros de r√©ductions sur votre prochaine commande."

In [63]:
# 4) c) le print est facultatif donc pile ou face tu gardes ou tu enl√®ves
print(texte_mail(30052))
print(texte_mail(92449))
print(texte_mail(70231))

Bonjour utilisateur 30052 ! Pour r√©compenser votre fid√©lit√©, nous vous offrons 10 euros de r√©ductions sur votre prochaine commande.
Bonjour utilisateur 92449 ! Pour r√©compenser votre fid√©lit√©, nous vous offrons 10 euros de r√©ductions sur votre prochaine commande.
Bonjour utilisateur 70231 ! Pour r√©compenser votre fid√©lit√©, nous vous offrons 20 euros de r√©ductions sur votre prochaine commande.

In [64]:
# Qui Aime Like Follow üññüèª
https://youtu.be/qhg8a5LUk-Y

SyntaxError: invalid syntax (Temp/ipykernel_22992/219936662.py, line 2)

## Exercice 2 - 5.5 points

Donn√©es:
- Paris 1er Arrondissement	13 810 ‚Ç¨/m2
- Paris 2e Arrondissement	12 350 ‚Ç¨/m2
- Paris 3e Arrondissement	12 870 ‚Ç¨/m2
- Paris 4e Arrondissement	13 710 ‚Ç¨/m2
- Paris 5e Arrondissement	13 000 ‚Ç¨/m2
- Paris 6e Arrondissement	15 010 ‚Ç¨/m2
- Paris 7e Arrondissement	14 600 ‚Ç¨/m2
- Paris 8e Arrondissement	12 620 ‚Ç¨/m2
- Paris 9e Arrondissement	11 550 ‚Ç¨/m2
- Paris 10e Arrondissement	10 610 ‚Ç¨/m2
- Paris 11e Arrondissement	10 980 ‚Ç¨/m2
- Paris 12e Arrondissement	10 280 ‚Ç¨/m2
- Paris 13e Arrondissement	9 650 ‚Ç¨/m2
- Paris 14e Arrondissement	10 750 ‚Ç¨/m2
- Paris 15e Arrondissement	10 750 ‚Ç¨/m2
- Paris 16e Arrondissement	11 440 ‚Ç¨/m2
- Paris 17e Arrondissement	11 220 ‚Ç¨/m2
- Paris 18e Arrondissement	10 300 ‚Ç¨/m2
- Paris 19e Arrondissement	9 310 ‚Ç¨/m2
- Paris 20e Arrondissement	9 640 ‚Ç¨/m2

1) Choisir un graphique adapt√© pour repr√©senter le prix du m√®tre carr√© √† Paris (1pt)

2) Ecrire une fonction qui prend en entr√©e un arrondissement et une surface et renvoie la valeur moyenne sur le march√© (1pt)

3) Ecrire une fonction qui prend en entr√©e une surface, un prix et un arrondissement et qui affiche: (1.5 pt)
- "Ce bien est en dessous du prix du march√© !" s'il est est √† plus de 5% en dessous des prix du march√©,
- " Cet appartement est dans les prix" s'il est √† +- 5% du prix de r√©f√©rence pour ce quartier 
- "Attention, cet appartement para√Æt cher" s'il est √† plus de 5% au dessus des prix du march√© pour cet arrondissement

4) Ecrire une fonction qui prend en entr√©e un budget et une surface, et qui renvoie la liste des arrondissements dont le prix de r√©f√©rence rentre dans le budget. (2 pt)

In [65]:
# M√©thode pas vue en cours : si vous le pouvez recr√©ez les data comme vu en cours
data = {'id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'Arrondissement': ['1er','2eme','3eme','4eme','5eme','6eme','7eme','8eme','9eme','10eme','11eme','12eme','13eme','14eme','15eme','16eme','17eme','18eme','19eme','20eme'],
       'price_m2': [13810,12350,12870,13710,13000,15010,14600,12620,11550,10610,10980,10280,9650,10750,10750,11440,11220,10300,9310,9640]}

prix_paris= pd.DataFrame(data).sort_values(by='price_m2')
prix_paris

    id Arrondissement  price_m2
18  19          19eme      9310
19  20          20eme      9640
12  13          13eme      9650
11  12          12eme     10280
17  18          18eme     10300
9   10          10eme     10610
13  14          14eme     10750
14  15          15eme     10750
10  11          11eme     10980
16  17          17eme     11220
15  16          16eme     11440
8    9           9eme     11550
1    2           2eme     12350
7    8           8eme     12620
2    3           3eme     12870
4    5           5eme     13000
3    4           4eme     13710
0    1            1er     13810
6    7           7eme     14600
5    6           6eme     15010

In [66]:
# 1)
fig = px.histogram(prix_paris, x="Arrondissement", y="price_m2", opacity=0.8,
                   title="Histogramme des prix au m2 sur Paris par arrondissement")
fig.show()

NameError: name 'px' is not defined

In [67]:
# 2)
arrondissement = 2
surface = 100
arron = arrondissement -1

def prix_moyen(arr, surf):
    pm = surf * arr
    print("Le prix moyen d'un logement de",surface,"m2 dans le",arrondissement,"eme arrondissement de Paris est de",pm,"‚Ç¨.")
    
prix_moyen(arron, surface)

Le prix moyen d'un logement de 100 m2 dans le 2 eme arrondissement de Paris est de 100 ‚Ç¨.

In [68]:
# 3)
def prix_marche(surface, price, arr):
    market_price = get_price(arr,surface)
    percentage = ((market_price - price) * 100) / price
    if percentage > 5:
        return "Ce bien est en dessous du prix du march√©"
    elif percentage < -5:
        return "Attention cet appartement parait cher"
    else:
        return "Cet appartement est dans les prix"

In [69]:
# 4) 
def arrondiss(budget, surface):
    list_arr = []
    for i, row in prix_paris.iterrows():
        if get_price(row['id'], surface) < budget:
            list_arr.append(row["Arrondissement"])
    return list_arr

## Exercice 3 (6.5pt)

1) Importer la base de donn√©es 'unicorns.csv' donnant la liste des licornes, leur valorisation, leur secteur et leur pays. Afficher les premi√®res lignes et le nombre de licornes dans la base (1pt)

2) Trouver quel pays a le plus de licornes dans le domaine de la FinTech (en d√©taillant la m√©thode) (1.5pt)

3) Cr√©er un dataFrame avec les licornes fran√ßaises et l'afficher (1pt)

4) Ecrire une fonction telle qu'on passe un pays en entr√©e et qui affiche la valorisation moyenne de ses licornes (1pt)

5) Essayer de reproduire le plus fid√©lement possible le graphique graphique_ex_3.png (2pt)

In [70]:
# 1)
unicorns = pd.read_csv("unicorns.csv")
unicorns.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,125.0,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,2018-07-03,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."

In [71]:
# 2) 
fintech_unicorns = unicorns[unicorns.Industry == 'Fintech']
fintech_unicorns_by_country = fintech_unicorns['Country'].value_counts().to_frame()
fintech_unicorns_by_country.head()

                Country
United States       127
United Kingdom       27
India                15
China                 8
Germany               6

In [72]:
# 3)
french_unicorns = unicorns[unicorns.Country == 'France']
french_unicorns.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
102,Doctolib,6.4,2019-03-19,France,Paris,Health,"BPI France, Kerala Ventures, Accel"
120,Back Market,5.7,2021-05-18,France,Paris,E-commerce & direct-to-consumer,"Aglae Ventures, Eurazeo, Daphni"
145,Qonto,5.0,2022-01-11,France,Paris,Fintech,"Alven Capital, Valar Ventures, Tencent Holdings"
175,Sorare,4.3,2021-09-21,France,Paris,E-commerce & direct-to-consumer,"Benchmark, Accel, SoftBank Group"
237,Mirakl,3.5,2020-09-22,France,Paris,E-commerce & direct-to-consumer,"Elaia Partners, 83North, Felix Capital"

In [73]:
# 4)
def licorne_pays(country):
    country_unicorns = unicorns[unicorns.Country == country]
    return country_unicorns['Valuation ($B)'].mean()

In [74]:
# 5) Nombre de licornes par industry
unicorns = unicorns.sort_values(by="Industry")

fig = px.histogram(unicorns, x="Industry", color_discrete_sequence=['indianred'], opacity=0.8,
                   title="Nombre de licornes par industrie")
fig.show()

NameError: name 'px' is not defined